{{ $show_logo := site.Params.header.navbar.show_logo | default true }}
{{ $has_logo := fileExists "assets/media/logo.png" | or (fileExists "assets/media/logo.svg") }}
{{ $logo := "" }}
{{ if $has_logo }}
  {{ $logo = (partial "blox-core/functions/get_logo" (dict "constraint" "max_height" "size" 70)) }}
{{ end }}
{{if $show_logo}}
<div class="container-xl">
  <div class="d-none d-lg-inline-flex">
    <a class="navbar-brand" href="{{ site.Home.RelPermalink }}">
      {{- if $has_logo -}}
        <img src="{{ $logo.RelPermalink }}" alt="{{ site.Title }}"
        {{with site.Params.header.image.width}}width="{{.}}"{{end}}
        {{with site.Params.header.image.height}}height="{{.}}"{{end}}>
      {{- else -}}
        {{- site.Title -}}
      {{- end -}}
    </a>
  </div>
</div>
{{end}}